.wrapper {
  width: 40%;
  margin: 0 auto;
}

.wrapper h1 {
  text-align: center;
}

.listOfEmployees li {
  display: flex;
  padding: 10px 0;
  font-size: 25px;
}

.listOfEmployees li:hover {
  border: 1px solid black;
}

.listOfEmployees li div {
  padding: 0 20px;
}

.viewPage {
  width: 50%;
  margin: 0 auto;
}

.employeeInfo {
  display: flex;
  flex-wrap: wrap;
}

.carousel-slider {
  margin: 0 auto !important;
}

.slide>a {
  display: inline-block;
}